.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.pagination div {
  border: 1px solid rgba(224, 224, 224, 1);
  background-color: rgba(224, 224, 224, 1);
  /* background-color: rgba(247, 131, 22, 0.229); */
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: rgba(119, 119, 119, 1);
}

.pagination div:nth-child(1) {
  width: 76px;
  height: 30px;
}

.pagination div:nth-child(2) {
  width: 32px;
  height: 32px;
  background-color: rgba(247, 132, 22, 1);
  font-weight: 600;
  color: white;
}
.pagination div:nth-child(3) {
  width: 51px;
  height: 30px;
}
