table tr {
  background-color: rgba(252, 244, 237, 1);
  border-collapse: collapse;
}

table tr:nth-child(odd) {
  background-color: white;
}

th,
td {
  border-collapse: collapse;
  border: 1px solid rgba(255, 222, 190, 1);
}

th {
  height: 30px;
}
